<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.talkandplay">

    <!-- Add this lines  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3339437277990541~8856670166"/>

        <!-- If we want to schedule local notifications, we must also add the following -->

        <receiver android:name="io.invertase.firebasereactnative.notifications.RNFirebaseNotificationReceiver"/>
        <receiver
            android:enabled="true"
            android:exported="true"
            android:name="io.invertase.firebasereactnative.notifications.RNFirebaseNotificationsRebootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="io.invertase.firebasereactnative.notifications.RNFirebaseBackgroundNotificationActionReceiver" android:exported="true">
            <intent-filter>
                <action android:name="io.invertase.firebasereactnative.notifications.BackgroundAction"/>
            </intent-filter>
        </receiver>
        <service android:name="io.invertase.firebasereactnative.notifications.RNFirebaseBackgroundNotificationActionsService"/>

        <!-- Add this line for Message service  -->
        <service android:name="io.invertase.firebasereactnative.messaging.RNFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Add this line to enable backgound messaging services -->
        <service android:name="io.invertase.firebasereactnative.messaging.RNFirebaseBackgroundMessagingService"/>

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
